<% content_for :title, "New orden trabajo" %>

<h1>New orden trabajo</h1>

<%= render "form", orden_trabajo: @orden_trabajo %>

<br>

<div>
  <%= link_to "Back to orden trabajos", orden_trabajos_path %>
</div>
